In [1]:
import requests
import json
import matplotlib as plt
from pprint import pprint
import pandas as pd

In [ ]:
url = "https://www.dallasopendata.com/resource/qv6i-rri7.json"

In [4]:
# Import the original data we analyzed earlier. Use dtype="object" to match other
tx_zip_latlong_data = pd.read_csv(
    "Resources/txzips.csv", dtype="object", encoding="utf-8")

# Visualize
tx_zip_latlong_data.head()

     zip       lat        lng        city state  county
0  75001     32.96  -96.83847     Addison    TX  Dallas
1  75002  33.08966  -96.60751       Allen    TX  Collin
2  75006  32.96188  -96.89701  Carrollton    TX  Dallas
3  75007  33.00462  -96.89714  Carrollton    TX  Denton
4  75009  33.34028  -96.75033      Celina    TX  Collin

In [ ]:
dallas_url = requests.get(url).json()
#print(json.dumps(dallas_url, indent=4, sort_keys=True))
#pprint(json.dumps(dallas_url, indent=4, sort_keys=True))

In [ ]:
dallas_df = pd.DataFrame(dallas_url)
dallas_df

In [ ]:
zipcode_info = dallas_df["zip_code"]
#zipcode_info.unique()
zipcode_info
#zipcode_info.value_counts()

In [ ]:
zipcode_list =

In [ ]:
gmaps.configure(api_key=gkey)

In [ ]:
locations = tx_zip_latlong_data[["lat", "lng"]].astype(float)

fig = gmaps.figure()