In [2]:
# Need to install the below for this API (if haven't installed)
# !pip install sodapy

In [3]:
# Enable to show multiple outputs for each cell in this notebook
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [4]:
# Import dependencies
import requests
import json
import pandas as pd
from sodapy import Socrata
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt

In [5]:
# App Token needed for the API
MyAppToken = "dYuCgBQWPQWWAp4Qgs4BXwOxL"
client = Socrata("www.dallasopendata.com", MyAppToken)

In [6]:
# Fetch data in multiple requests with each request limited to 50000 results
# Take approx. 2 min to run each chunk (total 3 chunks)
# Ideally should use for loop to do these chucks but did not know how to dynamically name different df

police_json1 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=0").json()
police1 = json_normalize(police_json1) # Convert JSON to df

police_json2 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=50000").json()
police2 = json_normalize(police_json2)

police_json3 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=100000").json()
police3 = json_normalize(police_json3)

police_json4 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=150000").json()
police4 = json_normalize(police_json4)

In [7]:
# Chunk 2 of 3
police_json5 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=200000").json()
police5 = json_normalize(police_json5)

police_json6 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=250000").json()
police6 = json_normalize(police_json6)

police_json7 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=300000").json()
police7 = json_normalize(police_json7)

police_json8 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=350000").json()
police8 = json_normalize(police_json8)

In [9]:
# Chunk 3 of 3
police_json9 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=400000").json()
police9 = json_normalize(police_json9)

police_json10 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=450000").json()
police10 = json_normalize(police_json10)

police_json11 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=500000").json()
police11 = json_normalize(police_json11)

police_json12 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=550000").json()
police12 = json_normalize(police_json12)

In [16]:
# Create a combined data frame of all data 
police_conc = pd.concat([police1, police2, police3,police4,
                        police5,police6,police7,police8,
                        police9,police10,police11,police12], ignore_index=True)

police_conc # This is the original complete df to work from (e.g. use for data cleaning then visualization)

# Check if record #1 and #50001 are different (since they are from two requests and are appended together)
police_conc.iloc[0,6]
police_conc.iloc[50000,6]

,:@computed_region_2f7u_b5gs,:@computed_region_sjyw_rtbm,apt,assoffbadge,beat,callcleared,calldispatched,callorgdate,callreceived,cfs_number,...,victimcond,victiminjurydesc,victimtype,watch,weaponused,x_coordinate,y_cordinate,year1,year2,zip_code
0,NaN,NaN,NaN,7626,116,2017-08-06T04:21:52.000,2017-08-06T04:21:17.000,2017-08-06T04:21:17.000,2017-08-06T04:21:17.000,17-1493483,...,NaN,NaN,Individual,1,Hands-Feet,NaN,NaN,2017,2017,NaN
1,NaN,NaN,NaN,6245,727,2017-08-14T11:39:50.000,2017-08-14T10:41:24.000,2017-08-14T10:41:21.000,2017-08-14T10:41:21.000,17-1546812,...,NaN,NaN,Individual,1,Other Gun,NaN,NaN,2017,2017,NaN
2,NaN,NaN,NaN,5787,226,2017-09-11T03:00:24.000,2017-09-10T19:34:50.000,2017-09-10T19:31:06.000,2017-09-10T19:31:06.000,17-1729443,...,Stable,INJURY TO BACK OF HEAD,Individual,1,Other,NaN,NaN,2017,2017,NaN
3,NaN,NaN,NaN,NaN,153,2017-09-09T22:39:33.000,2017-09-09T21:09:55.000,2017-09-09T20:59:12.000,2017-09-09T20:59:12.000,17-1723249,...,Good,RIGHT LEG INJURY,Individual,3,Other,NaN,NaN,2017,2017,NaN
4,NaN,NaN,NaN,6877,744,2017-08-28T23:14:29.000,2017-08-28T19:34:00.000,2017-08-28T19:30:37.000,2017-08-28T19:30:37.000,17-1643845,...,NaN,NaN,Business,1,Other,NaN,NaN,2017,2017,NaN
5,NaN,NaN,NaN,9191,122,2017-08-06T08:09:52.000,2017-08-06T00:53:20.000,2017-08-06T00:53:20.000,2017-08-06T00:53:20.000,17-1492465,...,Good,BIT IN THE LEFT THIGH,Individual,1,Hands-Feet,NaN,NaN,2017,2017,NaN
6,NaN,NaN,NaN,NaN,327,2014-07-14T08:26:58.000,2014-07-14T07:36:48.000,2014-07-14T06:59:04.000,2014-07-14T06:59:03.000,14-1354673,...,NaN,NaN,Individual,1,None,NaN,NaN,2014,2014,NaN
7,NaN,NaN,NaN,9191,122,2017-08-06T08:09:52.000,2017-08-06T00:53:20.000,2017-08-06T00:53:20.000,2017-08-06T00:53:20.000,17-1492465,...,Good,NaN,Individual,1,Hands-Feet,NaN,NaN,2017,2017,NaN
8,NaN,NaN,NaN,7021,116,2017-09-05T02:56:52.000,2017-09-04T18:40:07.000,2017-09-04T18:32:48.000,2017-09-04T18:32:47.000,17-1689973,...,NaN,KICKED IN GENITALS,Individual,3,Hands-Feet,NaN,NaN,2017,2017,NaN
9,NaN,NaN,NaN,9191,614,2017-08-20T01:32:28.000,2017-08-19T20:37:30.000,2017-08-19T20:35:03.000,2017-08-19T20:35:03.000,17-1584331,...,NaN,NaN,Individual,3,Other,NaN,NaN,2017,2017,NaN
10,NaN,NaN,NaN,7830,456,2017-08-21T02:39:17.000,2017-08-20T22:47:12.000,2017-08-20T22:46:25.000,2017-08-20T22:46:25.000,17-1591649,...,Deceased,DECEASED,Individual,3,Handgun,NaN,NaN,2017,2017,NaN
11,NaN,NaN,NaN,7651,228,2017-08-22T23:15:33.000,2017-08-22T16:05:49.000,2017-08-22T16:05:49.000,2017-08-22T16:05:49.000,17-1602598,...,NaN,NaN,Government,3,Hands-Feet,NaN,NaN,2017,2017,NaN
12,NaN,NaN,NaN,7959,436,2017-09-20T16:13:42.000,2017-09-20T12:18:39.000,2017-09-20T12:18:39.000,2017-09-20T12:18:39.000,17-1793673,...,NaN,NaN,Individual,1,Other,NaN,NaN,2017,2017,NaN
13,NaN,NaN,NaN,7615,726,2017-09-03T06:54:55.000,2017-09-03T00:47:22.000,2017-09-03T00:37:36.000,2017-09-03T00:37:36.000,17-1679383,...,NaN,NaN,Individual,1,Other,NaN,NaN,2017,2017,NaN
14,NaN,NaN,NaN,9191,635,2017-08-12T07:46:06.000,2017-08-12T02:18:20.000,2017-08-12T02:12:02.000,2017-08-12T02:12:02.000,17-1532463,...,NaN,LACERATIONS LEFT ARM,Individual,1,Hands-Feet,NaN,NaN,2017,2017,NaN
15,NaN,NaN,NaN,6615,327,2017-09-04T22:58:57.000,2017-09-04T22:17:08.000,2017-09-04T22:14:38.000,2017-09-04T22:14:38.000,17-1691166,...,NaN,NaN,Individual,3,Handgun,NaN,NaN,2017,2017,NaN
16,NaN,NaN,NaN,NaN,121,2017-08-06T07:35:33.000,2017-08-06T04:35:53.000,2017-08-06T04:11:05.000,2017-08-06T04:11:05.000,17-1493503,...,NaN,NaN,Individual,1,Other,NaN,NaN,2017,2017,NaN
17,NaN,NaN,NaN,NaN,115,2017-10-15T09:42:37.000,2017-10-15T08:34:29.000,2017-10-15T08:34:20.000,2017-10-15T08:34:20.000,17-1963410,...,NaN,NaN,Individual,2,Other,NaN,NaN,2017,2017,NaN
18,NaN,NaN,NaN,9191,614,2017-08-20T01:32:28.000,2017-08-19T20:37:30.000,2017-08-19T20:35:03.000,2017-08-19T20:35:03.000,17-1584331,...,NaN,RIGHT THIGH PAIN,Individual,3,Hands-Feet,NaN,NaN,2017,2017,NaN
19,NaN,NaN,NaN,6877,744,2017-08-28T23:14:29.000,2017-08-28T19:34:00.000,2017-08-28T19:30:37.000,2017-08-28T19:30:37.000,17-1643845,...,NaN,NaN,Business,1,Other,NaN,NaN,2017,2017,NaN
20,NaN,NaN,NaN,T269,221,2017-09-16T12:41:38.000,2017-09-16T10:34:27.000,2017-09-16T10:22:35.000,2017-09-16T10:22:35.000,17-1766075,...,NaN,NaN,Individual,1,Other,NaN,NaN,2017,2017,NaN
21,NaN,NaN,NaN,7651,228,2017-08-22T23:15:33.000,2017-08-22T16:05:49.000,2017-08-22T16:05:49.000,2017-08-22T16:05:49.000,17-1602598,...,NaN,PAIN AND REDNESS AND SWELLING,Individual,3,Hands-Feet,NaN,NaN,2017,2017,NaN
22,NaN,NaN,NaN,7615,726,2017-09-03T06:54:55.000,2017-09-03T00:47:22.000,2017-09-03T00:37:36.000,2017-09-03T00:37:36.000,17-1679383,...,NaN,NaN,Individual,1,Other,NaN,NaN,2017,2017,NaN
23,NaN,NaN,NaN,7107,624,2017-09-03T11:17:50.000,2017-09-03T10:18:54.000,2017-09-03T10:14:45.000,2017-09-03T10:14:45.000,17-1681278,...,NaN,NaN,Individual,1,Other,NaN,NaN,2017,2017,NaN
24,NaN,NaN,NaN,9883,516,2017-08-04T04:40:19.000,2017-08-03T23:44:17.000,2017-08-03T23:29:23.000,2017-08-03T23:29:22.000,17-1478320,...,NaN,NaN,Individual,1,Other,NaN,NaN,2017,2017,NaN
25,NaN,NaN,NaN,7790,132,2017-10-11T04:15:06.000,2017-10-11T01:15:00.000,2017-10-11T01:00:56.000,2017-10-11T01:00:56.000,17-1933075,...,Good,NaN,Individual,1,Hands-Feet,NaN,NaN,2017,2017,NaN
26,NaN,NaN,NaN,NaN,337,2017-08-28T10:55:33.000,2017-08-28T08:31:53.000,2017-08-28T08:24:14.000,2017-08-28T08:24:05.000,17-1640034,...,Stable,SCRATCHES,Individual,2,Other,NaN,NaN,2017,2017,NaN
27,NaN,NaN,NaN,7205,542,2017-09-06T12:43:35.000,2017-09-06T03:13:12.000,2017-09-06T03:13:12.000,2017-09-06T03:13:12.000,17-1698710,...,NaN,NaN,Individual,1,Other,NaN,NaN,2017,2017,NaN
28,NaN,NaN,NaN,7554,332,2017-09-10T16:18:21.000,2017-09-10T11:50:43.000,2017-09-10T11:48:21.000,2017-09-10T11:48:21.000,17-1727073,...,NaN,NaN,Individual,2,Threats,NaN,NaN,2017,2017,NaN
29,NaN,NaN,NaN,NaN,153,2017-09-09T22:39:33.000,2017-09-09T21:09:55.000,2017-09-09T20:59:12.000,2017-09-09T20:59:12.000,17-1723249,...,Good,RIGHT LEG,Individual,3,Other,NaN,NaN,2017,2017,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574507,3,1,207,NaN,411,2018-12-19T10:35:34.000,2018-12-19T09:16:04.000,2018-12-19T09:02:30.000,2018-12-19T09:02:30.000,18-2285416,...,NaN,NaN,Business,2,NaN,NaN,NaN,2018,2018,75203
574508,3,5,NaN,NaN,331,2017-09-27T16:40:38.000,2017-09-27T15:34:09.000,2017-09-27T14:48:07.000,2017-09-27T14:48:07.000,17-1841569,...,NaN,NaN,Individual,2,Omission/Neglect,2519405.29185025,6954757.50231382,2017,2017,75217
574509,3,6,NaN,8977,423,2018-10-13T06:46:01.000,2018-10-13T02:44:12.000,2018-10-13T02:27:13.000,2018-10-13T02:27:12.000,18-1868982,...,NaN,NaN,Individual,1,Handgun,2476112.85740953,6971375.83651945,2018,2018,75212
574510,3,12,NaN,8984,132,2018-01-20T10:12:51.000,2018-01-20T08:48:15.000,2018-01-20T07:43:44.000,2018-01-20T07:43:44.000,18-0120359,...,NaN,NaN,Business,1,Other,2489755.59785875,6972215.20793844,2018,2018,75202
574511,3,6,NaN,NaN,534,2016-10-08T04:05:01.000,2016-10-07T21:49:59.000,2016-10-07T21:49:59.000,2016-10-07T21:49:59.000,16-2005229,...,NaN,NaN,Government,1,Other,2460901.55555153,7007330.02173463,2016,2016,75229
574512,3,11,204,T161,524,2016-12-11T12:44:31.000,2016-12-11T11:31:33.000,2016-12-11T11:27:25.000,2016-12-11T11:27:24.000,16-2441684,...,NaN,NaN,Individual,1,Other,2486207.0430261,6995544.52707362,2016,2016,75209
574513,3,9,NaN,7887,245,2014-09-12T21:26:15.000,2014-09-12T19:59:07.000,2014-09-12T19:21:52.000,2014-09-12T19:21:52.000,14-1783686,...,NaN,NaN,Individual,2,None,2513809.01214137,7012432.96887244,2014,2014,75238
574514,3,1,NaN,10193,412,2016-11-06T10:19:28.000,2016-11-06T09:06:37.000,2016-11-06T08:54:54.000,2016-11-06T08:54:53.000,16-2213213,...,NaN,NaN,Individual,2,Other,2481704.00653162,6961278.72916918,2016,2016,75208
574515,3,9,1025,5202,243,2017-05-19T15:47:24.000,2017-05-19T15:40:09.000,2017-05-19T15:35:38.000,2017-05-19T15:34:55.000,17-0946981,...,NaN,NaN,Individual,3,Other,2513126.74729933,7014994.39807266,2017,2017,75243
574516,3,7,NaN,7626,223,2019-05-04T23:46:17.000,2019-05-04T17:04:08.000,2019-05-04T17:04:08.000,2019-05-04T17:04:08.000,19-0792783,...,NaN,NaN,Individual,3,NaN,2526226.5310643,6985556.63820291,2019,2019,75228
574517,3,9,NaN,7434,232,2019-03-10T13:12:29.000,2019-03-10T13:12:14.000,2019-03-10T13:12:14.000,2019-03-10T13:12:14.000,19-0420263,...,NaN,NaN,Individual,1,NaN,2516276.1920962,7001587.34440424,2019,2019,75238
574518,3,10,221,5899,644,2016-03-30T04:00:19.000,2016-03-30T02:51:58.000,2016-03-30T02:49:01.000,2016-03-30T02:49:00.000,16-0597834,...,NaN,NaN,Individual,1,Other,2501994.95451794,7027344.30130595,2016,2016,75240
574519,3,8,NaN,7108,356,2018-09-21T19:11:12.000,2018-09-21T18:38:59.000,2018-09-21T18:38:59.000,2018-09-21T18:38:59.000,18-1727951,...,NaN,NaN,Individual,3,NaN,NaN,NaN,2018,2018,75253
574520,3,1,NaN,T168,416,2015-08-16T12:29:11.000,2015-08-16T10:23:09.000,2015-08-16T10:15:52.000,2015-08-16T10:15:51.000,15-1655382,...,NaN,NaN,NaN,1,Other,2470417.6917266,6962783.12110518,2015,2015,75211
574521,3,9,NaN,6283,251,2014-09-30T19:33:53.000,2014-09-30T18:58:53.000,2014-09-30T18:49:32.000,2014-09-30T18:49:32.000,14-1909471,...,NaN,NaN,Individual,3,None,2501791.63612128,7020597.76555555,2014,2014,75243
574522,3,4,NaN,9436,443,2018-05-20T08:05:35.000,2018-05-20T07:26:09.000,2018-05-20T07:11:43.000,2018-05-20T07:11:42.000,18-0889301,...,NaN,NaN,Individual,1,NaN,2481675.61051162,6947196.15967695,2018,2018,75224
574523,3,13,1067,6283,215,2018-06-18T08:33:36.000,2018-06-18T07:28:57.000,2018-06-18T06:02:25.000,2018-06-18T06:02:25.000,18-1088035,...,NaN,NaN,Business,3,NaN,NaN,NaN,2018,2018,75231
574524,3,8,8,NaN,737,2018-12-04T11:57:14.000,2018-12-04T07:27:29.000,2018-12-04T07:27:29.000,2018-12-04T07:27:29.000,18-2192537,...,NaN,NaN,Individual,3,NaN,2503213.37389358,6933327.30676019,2018,2018,75241
574525,3,3,NaN,NaN,435,2014-06-26T17:31:24.000,2014-06-26T12:12:19.000,2014-06-26T11:25:46.000,2014-06-26T11:25:36.000,14-1221913,...,NaN,NaN,Business,2,None,2447099.98558748,6922022.20528836,2014,2014,75249
574526,3,4,NaN,T276,725,2018-12-25T12:06:06.000,2018-12-25T09:23:15.000,2018-12-25T08:58:43.000,2018-12-25T08:58:42.000,18-2322890,...,NaN,NaN,NaN,3,NaN,2493270.11078064,6944532.15098731,2018,2018,75216
574527,3,9,1025,NaN,243,2016-01-16T16:19:56.000,2016-01-16T16:04:37.000,2016-01-16T15:59:47.000,2016-01-16T15:59:47.000,16-0101177,...,NaN,NaN,Individual,3,Other,2513126.74729933,7014994.39807266,2016,2016,75243
574528,3,2,NaN,NaN,523,2019-03-26T20:45:12.000,2019-03-26T16:21:52.000,2019-03-26T15:29:15.000,2019-03-26T15:29:15.000,19-0528684,...,NaN,NaN,Business,2,NaN,2481934.83670718,6989902.31977574,2019,2019,75209
574529,3,2,NaN,NaN,517,2016-04-03T02:07:17.000,2016-04-03T00:21:46.000,2016-04-03T00:04:38.000,2016-04-03T00:04:38.000,16-0625861,...,NaN,NaN,Government,1,Other,2482641.37901238,6980031.24847859,2016,2016,75219
574530,3,12,NaN,NaN,134,2015-10-04T07:07:04.000,2015-10-04T06:01:53.000,2015-10-04T05:45:26.000,2015-10-04T05:45:11.000,15-2017173,...,NaN,NaN,Individual,1,Other,2492256.70757717,6971972.11591992,2015,2015,75201
574531,3,5,NaN,5881,321,2019-04-13T23:26:33.000,2019-04-13T21:11:04.000,2019-04-13T21:03:09.000,2019-04-13T21:03:08.000,19-0651376,...,NaN,LEFT ARM AND SHOULDER,Individual,3,Hands-Feet,2526987.74423335,6964293.88395339,2019,2019,75227
574532,3,4,175,8046,728,2018-05-10T17:12:56.000,2018-05-10T16:34:43.000,2018-05-10T14:30:17.000,2018-05-10T14:30:17.000,18-0821823,...,NaN,NaN,Individual,1,NaN,2497739.56707464,6946898.81428515,2018,2018,75216
574533,3,10,NaN,7107,635,2014-12-05T18:39:47.000,2014-12-05T16:30:48.000,2014-12-05T16:12:48.000,2014-12-05T16:12:47.000,14-2363207,...,NaN,NaN,Individual,2,None,2492911.87174788,7024720.98159284,2014,2014,75240
574534,3,10,129,7046,632,2016-09-03T20:23:53.000,2016-09-03T19:14:45.000,2016-09-03T19:11:56.000,2016-09-03T19:11:55.000,16-1759888,...,NaN,NaN,Individual,1,Other,2486865.1772453,7028805.60166616,2016,2016,75254
574535,3,5,NaN,5956,328,2015-03-18T21:51:39.000,2015-03-18T21:31:55.000,2015-03-18T19:26:51.000,2015-03-18T19:26:51.000,15-0509780,...,NaN,NaN,Individual,1,Other,2536786.93990381,6959925.58965912,2015,2015,75217
574536,3,12,NaN,8119,544,2019-02-12T11:20:26.000,2019-02-12T10:31:40.000,2019-02-12T07:38:42.000,2019-02-12T07:38:42.000,19-0255346,...,NaN,NaN,Individual,2,NaN,2489891.70340078,6983441.56703452,2019,2019,75219

'2017-08-06T04:21:17.000'

'2014-08-06T13:11:04.000'

:@computed_region_2f7u_b5gs    547640
:@computed_region_sjyw_rtbm    547340
apt                            115150
assoffbadge                    414765
beat                           574344
callcleared                    571633
calldispatched                 571945
callorgdate                    571998
callreceived                   571998
cfs_number                     571998
city                           569245
cjis                           574537
community                       91012
compage                        329862
compageatoffensetime           324979
compbaddress                    15249
compbphone                       7949
compbusname                     23020
compcity                       538146
compethnicity                  343629
comphaddress                   538769
comphapt                       147945
comphzipcode                   531666
compname                       550438
comprace                       347828
compsex                        348013
compstate                      533402
date1                          574536
date1dayofyear                 574536
date2_of_occurrence_2          574536
                                ...
ro1badge                       571102
ro1name                        570277
ro2badge                       217675
ro2name                        217674
sector                         574400
servnumid                      574537
servyr                         574537
signal                         571997
splrpt                           3278
state                          569201
status                         564006
taag                           205742
time1                          574536
time2                          574536
type                           406150
ucr_disp                       564078
ucr_offdesc                    406150
ucr_offense                    406150
ucrcode                        406150
upzdate                        574537
victimcond                      22387
victiminjurydesc                29171
victimtype                     545651
watch                          574537
weaponused                     385031
x_coordinate                   514157
y_cordinate                    514157
year1                          574536
year2                          574536
zip_code                       570845
Length: 103, dtype: int64

In [17]:
# Data exploration - show all column headers so to be able to reference later
#col = police_conc.columns.tolist()
police_conc.count()

:@computed_region_2f7u_b5gs    547640
:@computed_region_sjyw_rtbm    547340
apt                            115150
assoffbadge                    414765
beat                           574344
callcleared                    571633
calldispatched                 571945
callorgdate                    571998
callreceived                   571998
cfs_number                     571998
city                           569245
cjis                           574537
community                       91012
compage                        329862
compageatoffensetime           324979
compbaddress                    15249
compbphone                       7949
compbusname                     23020
compcity                       538146
compethnicity                  343629
comphaddress                   538769
comphapt                       147945
comphzipcode                   531666
compname                       550438
comprace                       347828
compsex                        348013
compstate                      533402
date1                          574536
date1dayofyear                 574536
date2_of_occurrence_2          574536
                                ...
ro1badge                       571102
ro1name                        570277
ro2badge                       217675
ro2name                        217674
sector                         574400
servnumid                      574537
servyr                         574537
signal                         571997
splrpt                           3278
state                          569201
status                         564006
taag                           205742
time1                          574536
time2                          574536
type                           406150
ucr_disp                       564078
ucr_offdesc                    406150
ucr_offense                    406150
ucrcode                        406150
upzdate                        574537
victimcond                      22387
victiminjurydesc                29171
victimtype                     545651
watch                          574537
weaponused                     385031
x_coordinate                   514157
y_cordinate                    514157
year1                          574536
year2                          574536
zip_code                       570845
Length: 103, dtype: int64

In [10]:
# Relationship between 'watch' and 'number of incidents' by year

# Number of incidents by watch category (1,2,3)
police_conc["watch"].value_counts()

# Create dataframe with columns related to this question and groupby year
watch_df = police_conc[["callreceived","calldispatched","year1","watch","incidentnum"]]
watch_df.head()
year_group = watch_df.groupby("year1")

# -------------------BELOW IS NOT CORRECT - STILL NEED TO WORK ON IT--------------------------
# Reshape dataframe to use for chart. Select only data after 2014
a = year_group["watch"].value_counts()
a_df = a.to_frame(name = "count").reset_index()
a_df["year1"]=a_df["year1"].astype(int)
a_df_2014 = a_df.loc[a_df["year1"]>2013,:]
a_df_2014.pivot(index="year1", columns="watch")

# Plot bar chart for number of incidents by watch by year from 2014 to 2019

1    230795
3    180658
2    162639
Name: watch, dtype: int64

              callreceived           calldispatched year1 watch  incidentnum
0  2017-10-15T08:34:20.000  2017-10-15T08:34:29.000  2017     2  235989-2017
1  2017-05-17T09:40:20.000  2017-05-17T09:49:47.000  2017     2  110499-2017
2  2017-05-18T17:50:12.000  2017-05-18T17:50:12.000  2017     3  111712-2017
3  2017-05-13T23:53:12.000  2017-05-14T00:34:20.000  2017     1  112912-2017
4  2017-05-14T05:06:17.000  2017-05-14T05:06:18.000  2017     1  107890-2017

       count
watch      1      2      3
year1
2014   25699  15103  15755
2015   42505  25889  27536
2016   47705  29147  31813
2017   38919  26898  29027
2018   47453  40674  46413
2019   28122  24879  30103