In [ ]:
# Need to install the below for this API (if haven't installed)
# !pip install sodapy

In [1]:
# Enable to show multiple outputs for each cell in this notebook
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [2]:
# Import dependencies
import requests
import json
import pandas as pd
from sodapy import Socrata
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt

In [3]:
# App Token needed for the API
MyAppToken = "dYuCgBQWPQWWAp4Qgs4BXwOxL"
client = Socrata("www.dallasopendata.com", MyAppToken)

In [4]:
# Fetch data in multiple requests with each request limited to 50000 results
# Take approx. 2 min to run each chunk (total 3 chunks)
# Ideally should use for loop to do these chucks but did not know how to dynamically name different df

police_json1 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=0").json()
police1 = json_normalize(police_json1) # Convert JSON to df

police_json2 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=50000").json()
police2 = json_normalize(police_json2)

police_json3 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=100000").json()
police3 = json_normalize(police_json3)

police_json4 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=150000").json()
police4 = json_normalize(police_json4)

In [5]:
# Chunk 2 of 3
police_json5 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=200000").json()
police5 = json_normalize(police_json5)

police_json6 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=250000").json()
police6 = json_normalize(police_json6)

police_json7 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=300000").json()
police7 = json_normalize(police_json7)

police_json8 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=350000").json()
police8 = json_normalize(police_json8)

In [6]:
# Chunk 3 of 3
police_json9 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=400000").json()
police9 = json_normalize(police_json9)

police_json10 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=450000").json()
police10 = json_normalize(police_json10)

police_json11 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=500000").json()
police11 = json_normalize(police_json11)

police_json12 = requests.get("https://www.dallasopendata.com/resource/qv6i-rri7.json?$limit=50000&$offset=550000").json()
police12 = json_normalize(police_json12)

In [7]:
# Create a combined data frame of all data 
police_conc = pd.concat([police1, police2, police3,police4,
                        police5,police6,police7,police8,
                        police9,police10,police11,police12], ignore_index=True)

police_conc # This is the original complete df to work from (e.g. use for data cleaning then visualization)

# Check if record #1 and #50001 are different (since they are from two requests and are appended together)
police_conc.iloc[0,6]
police_conc.iloc[50000,6]

,:@computed_region_2f7u_b5gs,:@computed_region_sjyw_rtbm,apt,assoffbadge,beat,callcleared,calldispatched,callorgdate,callreceived,cfs_number,...,victimcond,victiminjurydesc,victimtype,watch,weaponused,x_coordinate,y_cordinate,year1,year2,zip_code
0,NaN,NaN,NaN,NaN,115,2017-10-15T09:42:37.000,2017-10-15T08:34:29.000,2017-10-15T08:34:20.000,2017-10-15T08:34:20.000,17-1963410,...,NaN,NaN,Individual,2,Other,NaN,NaN,2017,2017,NaN
1,NaN,NaN,NaN,7682,251,2017-05-17T10:46:02.000,2017-05-17T09:49:47.000,2017-05-17T09:40:20.000,2017-05-17T09:40:20.000,17-0930263,...,NaN,NaN,Individual,2,Other,NaN,NaN,2017,2017,NaN
2,NaN,NaN,NaN,7651,347,2017-05-18T22:44:46.000,2017-05-18T17:50:12.000,2017-05-18T17:50:12.000,2017-05-18T17:50:12.000,17-0940690,...,NaN,NaN,Individual,3,Hands-Feet,NaN,NaN,2017,2017,NaN
3,NaN,NaN,NaN,7021,622,2017-05-20T00:16:57.000,2017-05-14T00:34:20.000,2017-05-13T23:53:12.000,2017-05-13T23:53:12.000,17-0907468,...,NaN,NaN,Individual,1,Other,NaN,NaN,2017,2017,NaN
4,NaN,NaN,NaN,8619,523,2017-05-14T05:44:26.000,2017-05-14T05:06:18.000,2017-05-14T05:06:17.000,2017-05-14T05:06:17.000,17-0908947,...,NaN,NaN,Individual,1,Other,NaN,NaN,2017,2017,NaN
5,NaN,NaN,NaN,NaN,623,2017-05-17T07:13:23.000,2017-05-17T07:11:46.000,2017-05-17T07:11:45.000,2017-05-17T07:11:45.000,17-0929605,...,NaN,NaN,Individual,1,Other,NaN,NaN,2017,2017,NaN
6,NaN,NaN,NaN,8107,613,2017-05-30T11:50:19.000,2017-05-30T10:39:23.000,2017-05-30T10:32:04.000,2017-05-30T10:32:04.000,17-1021885,...,NaN,NaN,Individual,1,Other,NaN,NaN,2017,2017,NaN
7,NaN,NaN,NaN,T269,524,2017-05-31T18:16:26.000,2017-05-31T16:46:35.000,2017-05-31T16:26:35.000,2017-05-31T16:26:35.000,17-1031511,...,NaN,NaN,Individual,2,Other,NaN,NaN,2017,2017,NaN
8,NaN,NaN,NaN,9340,728,2017-06-02T03:59:27.000,2017-06-02T01:25:22.000,2017-06-02T01:21:22.000,2017-06-02T01:21:22.000,17-1042017,...,NaN,NaN,Individual,1,Handgun,NaN,NaN,2017,2017,NaN
9,NaN,NaN,NaN,6102,151,2017-07-14T17:39:53.000,2017-07-14T17:06:45.000,2017-07-14T17:06:45.000,2017-07-14T17:06:45.000,17-1341152,...,NaN,NaN,Individual,3,Other,NaN,NaN,2017,2017,NaN
10,NaN,NaN,NaN,6759,115,2017-09-30T18:46:35.000,2017-09-30T13:22:33.000,2017-09-30T13:22:31.000,2017-09-30T13:22:31.000,17-1861304,...,NaN,NaN,Individual,2,NaN,NaN,NaN,2017,2017,NaN
11,NaN,NaN,NaN,11484,432,2019-01-06T21:46:32.000,2019-01-06T15:48:17.000,2019-01-06T15:46:06.000,2019-01-06T15:46:05.000,19-0035523,...,NaN,NaN,Individual,2,NaN,NaN,NaN,2019,2019,NaN
12,3,7,NaN,8219,238,2018-12-29T00:46:16.000,2018-12-28T20:13:35.000,2018-12-28T19:52:11.000,2018-12-28T19:52:11.000,18-2343059,...,NaN,NaN,Business,3,NaN,2521939.0053709,6977350.06402105,2018,2018,75228
13,NaN,NaN,NaN,7751,635,2017-11-08T12:28:54.000,2017-11-08T10:04:39.000,2017-11-08T10:01:47.000,2017-11-08T10:01:46.000,17-2123649,...,Deceased,NaN,Individual,1,NaN,NaN,NaN,2017,2017,NaN
14,NaN,NaN,NaN,7615,155,2017-11-19T05:13:34.000,2017-11-18T23:58:46.000,2017-11-18T23:58:46.000,2017-11-18T23:58:46.000,17-2194849,...,NaN,NaN,Individual,1,Other,NaN,NaN,2017,2017,NaN
15,NaN,NaN,NaN,8683,121,2017-12-30T15:43:06.000,2017-12-30T02:08:36.000,2017-12-30T02:08:36.000,2017-12-30T02:08:36.000,17-2449798,...,NaN,NaN,Law Enforcement Offi,1,Hands-Feet,NaN,NaN,2017,2017,NaN
16,NaN,NaN,NaN,7760,447,2019-03-11T00:24:29.000,2019-03-10T16:26:32.000,2019-03-10T16:14:33.000,2019-03-10T16:14:17.000,19-0421049,...,NaN,NaN,Business,3,NaN,NaN,NaN,2019,2019,NaN
17,NaN,NaN,NaN,6361,711,2018-05-24T16:00:20.000,2018-05-23T17:36:00.000,2018-05-23T17:05:21.000,2018-05-23T17:05:21.000,18-0912075,...,NaN,NaN,Government,3,NaN,NaN,NaN,2018,2018,NaN
18,NaN,NaN,NaN,7615,226,2019-02-16T03:50:52.000,2019-02-15T18:29:40.000,2019-02-15T18:27:26.000,2019-02-15T18:27:25.000,19-0276826,...,NaN,NaN,Government,3,NaN,NaN,NaN,2019,2019,NaN
19,NaN,NaN,NaN,7626,525,2019-01-21T05:37:14.000,2019-01-20T16:13:56.000,2019-01-20T15:58:06.000,2019-01-20T15:58:05.000,19-0119203,...,Good,NaN,Law Enforcement Offi,3,Hands-Feet,NaN,NaN,2019,2019,NaN
20,NaN,NaN,NaN,6361,222,2018-08-22T22:42:47.000,2018-08-22T13:47:21.000,2018-08-22T13:47:21.000,2018-08-22T13:47:21.000,18-1530714,...,NaN,NaN,Society/Public,2,NaN,NaN,NaN,2018,2018,NaN
21,NaN,NaN,NaN,NaN,211,2018-07-06T09:18:01.000,2018-07-06T08:07:34.000,2018-07-06T08:07:34.000,2018-07-06T08:07:34.000,18-1218540,...,NaN,NaN,Law Enforcement Offi,2,Hands-Feet,NaN,NaN,2018,2018,NaN
22,NaN,NaN,NaN,10031,132,2018-07-23T22:59:37.000,2018-07-23T20:30:41.000,2018-07-23T20:28:09.000,2018-07-23T20:28:08.000,18-1335996,...,NaN,NaN,Law Enforcement Offi,3,NaN,NaN,NaN,2018,2018,NaN
23,NaN,NaN,NaN,NaN,231,2018-03-26T12:03:13.000,2018-03-26T08:07:37.000,2018-03-26T08:07:37.000,2018-03-26T08:07:37.000,18-0527154,...,NaN,NaN,Law Enforcement Offi,2,Other,NaN,NaN,2018,2018,NaN
24,NaN,NaN,NaN,8683,613,2018-09-26T05:05:47.000,2018-09-25T22:18:44.000,2018-09-25T22:16:12.000,2018-09-25T22:16:12.000,18-1755309,...,NaN,NaN,Law Enforcement Offi,3,NaN,NaN,NaN,2018,2018,NaN
25,NaN,NaN,NaN,7615,226,2019-02-16T03:50:52.000,2019-02-15T18:29:40.000,2019-02-15T18:27:26.000,2019-02-15T18:27:25.000,19-0276826,...,NaN,NaN,Individual,3,NaN,NaN,NaN,2019,2019,NaN
26,NaN,NaN,NaN,7651,353,2018-08-06T10:02:07.000,2018-08-06T02:15:47.000,2018-08-06T02:14:11.000,2018-08-06T02:14:11.000,18-1423117,...,NaN,NaN,Government,1,Hands-Feet,NaN,NaN,2018,2018,NaN
27,NaN,NaN,NaN,8363,153,2019-03-17T20:32:12.000,2019-03-17T17:20:00.000,2019-03-17T17:12:53.000,2019-03-17T17:12:52.000,19-0469016,...,NaN,NaN,Law Enforcement Offi,3,NaN,NaN,NaN,2019,2019,NaN
28,NaN,NaN,NaN,7626,257,2019-03-29T00:03:24.000,2019-03-28T09:02:24.000,2019-03-28T09:02:24.000,2019-03-28T09:02:24.000,19-0539830,...,NaN,NaN,Government,2,Other,NaN,NaN,2019,2019,NaN
29,NaN,NaN,NaN,7760,714,2018-09-19T08:46:44.000,2018-09-18T00:54:08.000,2018-09-17T22:56:26.000,2018-09-17T22:56:26.000,18-1703159,...,Good,NaN,Law Enforcement Offi,1,Hands-Feet,NaN,NaN,2018,2018,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
574062,3,5,NaN,NaN,331,2017-09-27T16:40:38.000,2017-09-27T15:34:09.000,2017-09-27T14:48:07.000,2017-09-27T14:48:07.000,17-1841569,...,NaN,NaN,Individual,2,Omission/Neglect,2519405.29185025,6954757.50231382,2017,2017,75217
574063,3,6,NaN,8977,423,2018-10-13T06:46:01.000,2018-10-13T02:44:12.000,2018-10-13T02:27:13.000,2018-10-13T02:27:12.000,18-1868982,...,NaN,NaN,Individual,1,Handgun,2476112.85740953,6971375.83651945,2018,2018,75212
574064,3,12,NaN,8984,132,2018-01-20T10:12:51.000,2018-01-20T08:48:15.000,2018-01-20T07:43:44.000,2018-01-20T07:43:44.000,18-0120359,...,NaN,NaN,Business,1,Other,2489755.59785875,6972215.20793844,2018,2018,75202
574065,3,6,NaN,NaN,534,2016-10-08T04:05:01.000,2016-10-07T21:49:59.000,2016-10-07T21:49:59.000,2016-10-07T21:49:59.000,16-2005229,...,NaN,NaN,Government,1,Other,2460901.55555153,7007330.02173463,2016,2016,75229
574066,3,11,204,T161,524,2016-12-11T12:44:31.000,2016-12-11T11:31:33.000,2016-12-11T11:27:25.000,2016-12-11T11:27:24.000,16-2441684,...,NaN,NaN,Individual,1,Other,2486207.0430261,6995544.52707362,2016,2016,75209
574067,3,9,NaN,7887,245,2014-09-12T21:26:15.000,2014-09-12T19:59:07.000,2014-09-12T19:21:52.000,2014-09-12T19:21:52.000,14-1783686,...,NaN,NaN,Individual,2,None,2513809.01214137,7012432.96887244,2014,2014,75238
574068,3,1,NaN,10193,412,2016-11-06T10:19:28.000,2016-11-06T09:06:37.000,2016-11-06T08:54:54.000,2016-11-06T08:54:53.000,16-2213213,...,NaN,NaN,Individual,2,Other,2481704.00653162,6961278.72916918,2016,2016,75208
574069,3,9,1025,5202,243,2017-05-19T15:47:24.000,2017-05-19T15:40:09.000,2017-05-19T15:35:38.000,2017-05-19T15:34:55.000,17-0946981,...,NaN,NaN,Individual,3,Other,2513126.74729933,7014994.39807266,2017,2017,75243
574070,3,7,NaN,7626,223,2019-05-04T23:46:17.000,2019-05-04T17:04:08.000,2019-05-04T17:04:08.000,2019-05-04T17:04:08.000,19-0792783,...,NaN,NaN,Individual,3,NaN,2526226.5310643,6985556.63820291,2019,2019,75228
574071,3,9,NaN,7434,232,2019-03-10T13:12:29.000,2019-03-10T13:12:14.000,2019-03-10T13:12:14.000,2019-03-10T13:12:14.000,19-0420263,...,NaN,NaN,Individual,1,NaN,2516276.1920962,7001587.34440424,2019,2019,75238
574072,3,10,221,5899,644,2016-03-30T04:00:19.000,2016-03-30T02:51:58.000,2016-03-30T02:49:01.000,2016-03-30T02:49:00.000,16-0597834,...,NaN,NaN,Individual,1,Other,2501994.95451794,7027344.30130595,2016,2016,75240
574073,3,8,NaN,7108,356,2018-09-21T19:11:12.000,2018-09-21T18:38:59.000,2018-09-21T18:38:59.000,2018-09-21T18:38:59.000,18-1727951,...,NaN,NaN,Individual,3,NaN,NaN,NaN,2018,2018,75253
574074,3,1,NaN,T168,416,2015-08-16T12:29:11.000,2015-08-16T10:23:09.000,2015-08-16T10:15:52.000,2015-08-16T10:15:51.000,15-1655382,...,NaN,NaN,NaN,1,Other,2470417.6917266,6962783.12110518,2015,2015,75211
574075,3,9,NaN,6283,251,2014-09-30T19:33:53.000,2014-09-30T18:58:53.000,2014-09-30T18:49:32.000,2014-09-30T18:49:32.000,14-1909471,...,NaN,NaN,Individual,3,None,2501791.63612128,7020597.76555555,2014,2014,75243
574076,3,4,NaN,9436,443,2018-05-20T08:05:35.000,2018-05-20T07:26:09.000,2018-05-20T07:11:43.000,2018-05-20T07:11:42.000,18-0889301,...,NaN,NaN,Individual,1,NaN,2481675.61051162,6947196.15967695,2018,2018,75224
574077,3,13,1067,6283,215,2018-06-18T08:33:36.000,2018-06-18T07:28:57.000,2018-06-18T06:02:25.000,2018-06-18T06:02:25.000,18-1088035,...,NaN,NaN,Business,3,NaN,NaN,NaN,2018,2018,75231
574078,NaN,NaN,NaN,T270,317,2017-07-17T21:05:46.000,2017-07-17T20:14:53.000,2017-07-17T19:57:52.000,2017-07-17T19:57:52.000,17-1362754,...,NaN,NaN,NaN,2,Other,2516935.94608334,6976711.19318858,2017,2017,75228
574079,3,8,8,NaN,737,2018-12-04T11:57:14.000,2018-12-04T07:27:29.000,2018-12-04T07:27:29.000,2018-12-04T07:27:29.000,18-2192537,...,NaN,NaN,Individual,3,NaN,2503213.37389358,6933327.30676019,2018,2018,75241
574080,3,3,NaN,NaN,435,2014-06-26T17:31:24.000,2014-06-26T12:12:19.000,2014-06-26T11:25:46.000,2014-06-26T11:25:36.000,14-1221913,...,NaN,NaN,Business,2,None,2447099.98558748,6922022.20528836,2014,2014,75249
574081,3,4,NaN,T276,725,2018-12-25T12:06:06.000,2018-12-25T09:23:15.000,2018-12-25T08:58:43.000,2018-12-25T08:58:42.000,18-2322890,...,NaN,NaN,NaN,3,NaN,2493270.11078064,6944532.15098731,2018,2018,75216
574082,3,9,1025,NaN,243,2016-01-16T16:19:56.000,2016-01-16T16:04:37.000,2016-01-16T15:59:47.000,2016-01-16T15:59:47.000,16-0101177,...,NaN,NaN,Individual,3,Other,2513126.74729933,7014994.39807266,2016,2016,75243
574083,3,2,NaN,NaN,523,2019-03-26T20:45:12.000,2019-03-26T16:21:52.000,2019-03-26T15:29:15.000,2019-03-26T15:29:15.000,19-0528684,...,NaN,NaN,Business,2,NaN,2481934.83670718,6989902.31977574,2019,2019,75209
574084,3,2,NaN,NaN,517,2016-04-03T02:07:17.000,2016-04-03T00:21:46.000,2016-04-03T00:04:38.000,2016-04-03T00:04:38.000,16-0625861,...,NaN,NaN,Government,1,Other,2482641.37901238,6980031.24847859,2016,2016,75219
574085,3,12,NaN,NaN,134,2015-10-04T07:07:04.000,2015-10-04T06:01:53.000,2015-10-04T05:45:26.000,2015-10-04T05:45:11.000,15-2017173,...,NaN,NaN,Individual,1,Other,2492256.70757717,6971972.11591992,2015,2015,75201
574086,3,5,NaN,5881,321,2019-04-13T23:26:33.000,2019-04-13T21:11:04.000,2019-04-13T21:03:09.000,2019-04-13T21:03:08.000,19-0651376,...,NaN,LEFT ARM AND SHOULDER,Individual,3,Hands-Feet,2526987.74423335,6964293.88395339,2019,2019,75227
574087,3,4,175,8046,728,2018-05-10T17:12:56.000,2018-05-10T16:34:43.000,2018-05-10T14:30:17.000,2018-05-10T14:30:17.000,18-0821823,...,NaN,NaN,Individual,1,NaN,2497739.56707464,6946898.81428515,2018,2018,75216
574088,3,10,NaN,7107,635,2014-12-05T18:39:47.000,2014-12-05T16:30:48.000,2014-12-05T16:12:48.000,2014-12-05T16:12:47.000,14-2363207,...,NaN,NaN,Individual,2,None,2492911.87174788,7024720.98159284,2014,2014,75240
574089,3,10,129,7046,632,2016-09-03T20:23:53.000,2016-09-03T19:14:45.000,2016-09-03T19:11:56.000,2016-09-03T19:11:55.000,16-1759888,...,NaN,NaN,Individual,1,Other,2486865.1772453,7028805.60166616,2016,2016,75254
574090,3,5,NaN,5956,328,2015-03-18T21:51:39.000,2015-03-18T21:31:55.000,2015-03-18T19:26:51.000,2015-03-18T19:26:51.000,15-0509780,...,NaN,NaN,Individual,1,Other,2536786.93990381,6959925.58965912,2015,2015,75217
574091,3,12,NaN,8119,544,2019-02-12T11:20:26.000,2019-02-12T10:31:40.000,2019-02-12T07:38:42.000,2019-02-12T07:38:42.000,19-0255346,...,NaN,NaN,Individual,2,NaN,2489891.70340078,6983441.56703452,2019,2019,75219

'2017-10-15T08:34:29.000'

'2016-07-09T21:05:06.000'

In [8]:
# Data exploration - show all column headers so to be able to reference later
col = police_conc.columns.tolist()
col

[':@computed_region_2f7u_b5gs',
 ':@computed_region_sjyw_rtbm',
 'apt',
 'assoffbadge',
 'beat',
 'callcleared',
 'calldispatched',
 'callorgdate',
 'callreceived',
 'cfs_number',
 'city',
 'cjis',
 'community',
 'compage',
 'compageatoffensetime',
 'compbaddress',
 'compbphone',
 'compbusname',
 'compcity',
 'compethnicity',
 'comphaddress',
 'comphapt',
 'comphzipcode',
 'compname',
 'comprace',
 'compsex',
 'compstate',
 'date1',
 'date1dayofyear',
 'date2_of_occurrence_2',
 'date2dayofyear',
 'day1',
 'day2',
 'district',
 'division',
 'drug',
 'edate',
 'edatedayofyear',
 'eday',
 'elenum',
 'emonth',
 'etime',
 'eyear',
 'family',
 'followup1',
 'followup2',
 'gang',
 'geocoded_column.human_address',
 'geocoded_column.latitude',
 'geocoded_column.longitude',
 'hate',
 'hatecrimedescriptn',
 'incident_address',
 'incidentnum',
 'involvement',
 'mo',
 'month1',
 'month2',
 'nibrs_code',
 'nibrs_crime',
 'nibrs_crime_category',
 'nibrs_crimeagainst',
 'nibrs_group',
 'nibrs_type',
 'objattack',
 'offensecode',
 'offincident',
 'penalcode',
 'premise',
 'ra',
 'reporteddate',
 'reptoff',
 'reviewbadgenum',
 'ro1badge',
 'ro1name',
 'ro2badge',
 'ro2name',
 'sector',
 'servnumid',
 'servyr',
 'signal',
 'splrpt',
 'state',
 'status',
 'taag',
 'time1',
 'time2',
 'type',
 'ucr_disp',
 'ucr_offdesc',
 'ucr_offense',
 'ucrcode',
 'upzdate',
 'victimcond',
 'victiminjurydesc',
 'victimtype',
 'watch',
 'weaponused',
 'x_coordinate',
 'y_cordinate',
 'year1',
 'year2',
 'zip_code']

In [10]:
# Relationship between 'watch' and 'number of incidents' by year

# Number of incidents by watch category (1,2,3)
police_conc["watch"].value_counts()

# Create dataframe with columns related to this question and groupby year
watch_df = police_conc[["callreceived","calldispatched","year1","watch","incidentnum"]]
watch_df.head()
year_group = watch_df.groupby("year1")

# -------------------BELOW IS NOT CORRECT - STILL NEED TO WORK ON IT--------------------------
# Reshape dataframe to use for chart. Select only data after 2014
a = year_group["watch"].value_counts()
a_df = a.to_frame(name = "count").reset_index()
a_df["year1"]=a_df["year1"].astype(int)
a_df_2014 = a_df.loc[a_df["year1"]>2013,:]
a_df_2014.pivot(index="year1", columns="watch")

# Plot bar chart for number of incidents by watch by year from 2014 to 2019

1    230795
3    180658
2    162639
Name: watch, dtype: int64

              callreceived           calldispatched year1 watch  incidentnum
0  2017-10-15T08:34:20.000  2017-10-15T08:34:29.000  2017     2  235989-2017
1  2017-05-17T09:40:20.000  2017-05-17T09:49:47.000  2017     2  110499-2017
2  2017-05-18T17:50:12.000  2017-05-18T17:50:12.000  2017     3  111712-2017
3  2017-05-13T23:53:12.000  2017-05-14T00:34:20.000  2017     1  112912-2017
4  2017-05-14T05:06:17.000  2017-05-14T05:06:18.000  2017     1  107890-2017

       count
watch      1      2      3
year1
2014   25699  15103  15755
2015   42505  25889  27536
2016   47705  29147  31813
2017   38919  26898  29027
2018   47453  40674  46413
2019   28122  24879  30103