In [4]:
import requests
import json
import matplotlib as plt
from pprint import pprint
import pandas as pd

In [6]:
zip_crime_csv = "Resources/police_data.csv"
zip_crime_reader = pd.read_csv(zip_crime_csv, encoding="ISO-8859-1")
zip_crime_reader.head(2)

,Incident Number w/year,Year of Incident,Watch,Call (911) Problem,Type of Incident,Date1 of Occurrence,Month1 of Occurence,Day1 of the Week,Time1 of Occurrence,Call Dispatch Date Time,X Coordinate,Y Cordinate,Zip Code,City,State
0,038164-2018,2018,3,6XEA - DISTURBANCE EMERG AMB,RESIST ARREST SEARCH OR TRANSPORT,2/21/2018,February,Wed,19:30,2/21/2018 19:41,NaN,NaN,NaN,NaN,NaN
1,066284-2018,2018,1,6X - MAJOR DIST (VIOLENCE),ASSAULT -PUB SERV (PEACE OFFICER/JUDGE),3/30/2018,March,Fri,01:40,3/30/2018 01:27,NaN,NaN,NaN,NaN,NaN

In [15]:
zip_crime_reader.count()

Incident Number w/year     133949
Year of Incident           133949
Watch                      133949
Call (911) Problem         132683
Type of Incident           133949
Date1 of Occurrence        133949
Month1 of Occurence        133949
Day1 of the Week           133949
Time1 of Occurrence        133949
Call Dispatch Date Time    132673
X Coordinate                98503
Y Cordinate                 98503
Zip Code                   133669
City                       132123
State                      132974
dtype: int64

In [19]:
zip_crime_dropped = zip_crime_reader.dropna(how='any')
zip_crime_dropped.count()

Incident Number w/year     95440
Year of Incident           95440
Watch                      95440
Call (911) Problem         95440
Type of Incident           95440
Date1 of Occurrence        95440
Month1 of Occurence        95440
Day1 of the Week           95440
Time1 of Occurrence        95440
Call Dispatch Date Time    95440
X Coordinate               95440
Y Cordinate                95440
Zip Code                   95440
City                       95440
State                      95440
dtype: int64

In [21]:
zip_crime_dropped.columns

Index(['Incident Number w/year', 'Year of Incident', 'Watch',
       'Call (911) Problem', 'Type of Incident', 'Date1 of Occurrence',
       'Month1 of Occurence', 'Day1 of the Week', 'Time1 of Occurrence',
       'Call Dispatch Date Time', 'X Coordinate', 'Y Cordinate', 'Zip Code',
       'City', 'State'],
      dtype='object')

In [20]:
zip_crime_dropped.dtypes

Incident Number w/year      object
Year of Incident             int64
Watch                        int64
Call (911) Problem          object
Type of Incident            object
Date1 of Occurrence         object
Month1 of Occurence         object
Day1 of the Week            object
Time1 of Occurrence         object
Call Dispatch Date Time     object
X Coordinate               float64
Y Cordinate                float64
Zip Code                   float64
City                        object
State                       object
dtype: object

In [24]:
zip_crime_df = zip_crime_dropped.loc[:, ["Zip Code", "X Coordinate", "Y Cordinate", "City", "Type of Incident"]]
zip_crime_renamed_df = zip_crime_df.rename(columns={"Zip Code": "Zip Code","X Coordinate": "Longitude", "Y Cordinate": "Latitude", "City": "City","Type of Incident":"Type of Crime"})
zip_crime_renamed_df.head(10)

,Zip Code,Longitude,Latitude,City,Type of Crime
205,75212.0,2476498.585,6971715.153,DALLAS,VIO PROTECT ORDER BIAS/PREJUDICE
212,75253.0,2548241.858,6932130.126,DALLAS,ABANDONED PROPERTY (NO OFFENSE)
219,75217.0,2525365.155,6960102.895,DALLAS,PUBLIC INTOXICATION
221,75216.0,2496126.907,6941940.628,DALLAS,ASSAULT -BODILY INJURY ONLY
222,75216.0,2487800.730,6937829.316,DALLAS,WARRANT-DALLAS PD (ALIAS/CAPIAS)
229,75211.0,2468877.713,6961189.651,DALLAS,UNAUTHORIZED USE OF MOTOR VEH - (ATT) TRUCK OR...
230,75204.0,2494114.098,6976578.343,DALLAS,"CRIM MISCHIEF >OR EQUAL $750 < $2,500"
231,75215.0,2492637.330,6968271.897,DALLAS,PUBLIC INTOXICATION
233,75217.0,2524662.487,6947002.514,DALLAS,FAIL TO ID -FUGITIVE FROM JUSTICE
234,75210.0,2510456.676,6966237.837,DALLAS,DWI 1 PREV CONV

In [26]:
unique_zip = len(zip_crime_renamed_df["Zip Code"].unique())
unique_zip = pd.DataFrame({"Number of Unique ZipCodes": [unique_zip]})
unique_zip

   Number of Unique ZipCodes
0                         81